In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('loan_data.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.shape

(614, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [7]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

#### Handling Missing Values

In [9]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
# Categorical data
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df['Married'].fillna(df['Married'].mode()[0],inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0],inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)

# Continous data
df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)

/tmp/ipykernel_268211/2535312258.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
/tmp/ipykernel_268211/2535312258.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Married'].fillna(df['Married'].mode()[0],inplace=True)
/tmp/ipykernel_268211/2535312258.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)
/tmp/ipykernel_268211/2535312258.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)
/tmp/ipykernel_268211/2535312258.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0],inplace=True)
/tmp/ipykernel_268211/2535312258.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)
/tmp/ipykernel_268211/2535312258.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)

In [11]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

### Converting Categories to Numerical Values

In [12]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [13]:
# df['Gender'].value_counts()
# df['Married'].value_counts()
#df['Education'].value_counts()
#df['Self_Employed'].value_counts()
#df['Property_Area'].value_counts()
df['Loan_Status'].value_counts()

Loan_Status
Y    422
N    192
Name: count, dtype: int64

In [14]:
df['Gender'] = df['Gender'].map({'Male':0,'Female':1})
df['Married'] = df['Married'].map({'Yes':0,'No':1})
df['Education'] = df['Education'].map({'Graduate':0,'Not Graduate':1})
df['Self_Employed'] = df['Self_Employed'].map({'No':0,'Yes':1})
df['Property_Area'] = df['Property_Area'].map({'Semiurban':0,'Urban':1,'Rural':2})
df['Loan_Status'] = df['Loan_Status'].map({'Y':1,'N':0})

In [15]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,1,0,0,0,5849,0.0,146.412162,360.0,1.0,1,1
1,LP001003,0,0,1,0,0,4583,1508.0,128.000000,360.0,1.0,2,0
2,LP001005,0,0,0,0,1,3000,0.0,66.000000,360.0,1.0,1,1
3,LP001006,0,0,0,1,0,2583,2358.0,120.000000,360.0,1.0,1,1
4,LP001008,0,1,0,0,0,6000,0.0,141.000000,360.0,1.0,1,1

### Bringing all values to the range 0 and 1

####      Xnorm=X-Xmin/Xmax-Xmin

In [16]:
df['Dependents'] = df['Dependents'].replace('3+',3).astype(int)
df['Dependents'] = (df['Dependents']-df['Dependents'].min())/(df['Dependents'].max()-df['Dependents'].min())

In [17]:
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents           float64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [18]:
for i in df.columns[1:]:
    df[i] = (df[i] - df[i].min())/(df[i].max()-df[i].min())

In [19]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,1.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.74359,1.0,0.5,1.0
1,LP001003,0.0,0.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.74359,1.0,1.0,0.0
2,LP001005,0.0,0.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.74359,1.0,0.5,1.0
3,LP001006,0.0,0.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.74359,1.0,0.5,1.0
4,LP001008,0.0,1.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.74359,1.0,0.5,1.0

In [20]:
df.to_csv('loan_prediction_data.csv',index=False)

#### Steps to build a Neural Network using Keras
###### 1.Loading the dataset
###### 2.Creating tracking and validation set
###### 3.Defining the architecture of the model
###### 4.Compiling the model(defining loss function,optimizer)
###### 5.Training the model
###### 6.Evaluating model performance on trining and validation set

##### 1.Loading the dataset

In [21]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
%matplotlib inline

In [22]:
data = pd.read_csv('loan_prediction_data.csv')
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,1.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.743590,1.0,0.5,1.0
1,LP001003,0.0,0.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.743590,1.0,1.0,0.0
2,LP001005,0.0,0.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.743590,1.0,0.5,1.0
3,LP001006,0.0,0.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.743590,1.0,0.5,1.0
4,LP001008,0.0,1.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.743590,1.0,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,1.0,1.0,0.000000,0.0,0.0,0.034014,0.000000,0.089725,0.743590,1.0,1.0,1.0
610,LP002979,0.0,0.0,1.000000,0.0,0.0,0.048930,0.000000,0.044863,0.358974,1.0,1.0,1.0
611,LP002983,0.0,0.0,0.333333,0.0,0.0,0.097984,0.005760,0.353111,0.743590,1.0,0.5,1.0
612,LP002984,0.0,0.0,0.666667,0.0,0.0,0.091936,0.000000,0.257598,0.743590,1.0,0.5,1.0
613,LP002990,1.0,1.0,0.000000,0.0,1.0,0.054830,0.000000,0.179450,0.743590,0.0,0.0,0.0

In [23]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,1.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.74359,1.0,0.5,1.0
1,LP001003,0.0,0.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.74359,1.0,1.0,0.0
2,LP001005,0.0,0.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.74359,1.0,0.5,1.0
3,LP001006,0.0,0.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.74359,1.0,0.5,1.0
4,LP001008,0.0,1.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.74359,1.0,0.5,1.0

In [24]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [25]:
data.dtypes

Loan_ID               object
Gender               float64
Married              float64
Dependents           float64
Education            float64
Self_Employed        float64
ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area        float64
Loan_Status          float64
dtype: object

In [26]:
data = data.drop('Loan_ID',axis=1)
data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0.0,1.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.743590,1.0,0.5,1.0
1,0.0,0.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.743590,1.0,1.0,0.0
2,0.0,0.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.743590,1.0,0.5,1.0
3,0.0,0.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.743590,1.0,0.5,1.0
4,0.0,1.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.743590,1.0,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
609,1.0,1.0,0.000000,0.0,0.0,0.034014,0.000000,0.089725,0.743590,1.0,1.0,1.0
610,0.0,0.0,1.000000,0.0,0.0,0.048930,0.000000,0.044863,0.358974,1.0,1.0,1.0
611,0.0,0.0,0.333333,0.0,0.0,0.097984,0.005760,0.353111,0.743590,1.0,0.5,1.0
612,0.0,0.0,0.666667,0.0,0.0,0.091936,0.000000,0.257598,0.743590,1.0,0.5,1.0
613,1.0,1.0,0.000000,0.0,1.0,0.054830,0.000000,0.179450,0.743590,0.0,0.0,0.0

In [27]:
# independent variables
X = data.drop('Loan_Status',axis=1)

# Dependent Variables
y = data['Loan_Status']

In [28]:
X.shape, y.shape

((614, 11), (614,))

##### 2.Creating training and Validation Set

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=data['Loan_Status'], test_size=0.2, random_state=10)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((491, 11), (123, 11), (491,), (123,))

##### 3.Defining the Architecture of the Model

In [32]:
import keras
import tensorflow as tf

2025-11-28 09:05:51.016575: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-11-28 09:05:57.170817: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-11-28 09:06:10.409525: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.

In [33]:
from keras.models import Sequential
from keras.layers import InputLayer,Dense

In [39]:
X_train.shape
X_test.shape[1]

# Defining the input neurons
input_neurons = X_train.shape[1]

In [40]:
# Since loan prediction is a binary classification problem, we will haaaaave single neuron in the output layer


# Defining the number of output neurons
output_neurons = 1

In [41]:
# defining hidden layers and neurons in each layer

number_of_hidden_layers = 2
neuron_hidden_layer_1 = 10
neuron_hidden_layer_2 = 5

In [42]:
# activation function of different layers

# lets pick relu as an activation function for hidden layers
# since it is a binary classification problem, we can use sigmoid activation function in the final layer

model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1,activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2,activation='relu'))
model.add(Dense(units=output_neurons,activation='sigmoid'))

/home/dhe-reigner/Desktop/venv/lib/python3.12/site-packages/keras/src/layers/core/input_layer.py:27: UserWarning: Argument `input_shape` is deprecated. Use `shape` instead.
  warnings.warn(
2025-11-28 10:17:40.706350: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

In [43]:
model.summary()

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                   â”‚ (None, 10)             â”‚           120 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                 â”‚ (None, 5)              â”‚            55 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                 â”‚ (None, 1)              â”‚             6 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 181 (724.00 B)

 Trainable params: 181 (724.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Number of parameters between input and first hidden layer
input_neurons*neuron_hidden_layer_1

110

In [45]:
# Number of parameters between input and first hidden layer

# adding the bias for each neuron of first hidden layer

input_neurons*neuron_hidden_layer_1 + 10

120

In [46]:
# Number of parameters between first and second hidden layer

neuron_hidden_layer_1*neuron_hidden_layer_2 + 5

55

In [47]:
# Number of parameters between second hidden and output layer

neuron_hidden_layer_2*output_neurons + 1

6

##### 4.Compling the model(defining loss function, optimer)

In [48]:
# compiling the model

# loss as binary_crossentripy, since we have binary classification problem
# defining the optimizer as adam
# Evaluation metric as accuracy

model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

##### 5.Training the model

In [49]:
model_history = model.fit(X_train,y_train,validation_data=(X_test,y_test), epochs=50)

Epoch 1/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 10s 51ms/step - accuracy: 0.6456 - loss: 0.6718 - val_accuracy: 0.7073 - val_loss: 0.6585
Epoch 2/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step - accuracy: 0.6864 - loss: 0.6586 - val_accuracy: 0.6911 - val_loss: 0.6463
Epoch 3/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 11ms/step - accuracy: 0.6864 - loss: 0.6475 - val_accuracy: 0.6911 - val_loss: 0.6357
Epoch 4/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step - accuracy: 0.6864 - loss: 0.6376 - val_accuracy: 0.6911 - val_loss: 0.6270
Epoch 5/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.6864 - loss: 0.6295 - val_accuracy: 0.6911 - val_loss: 0.6205
Epoch 6/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.6864 - loss: 0.6230 - val_accuracy: 0.6911 - val_loss: 0.6144
Epoch 7/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.6864 - loss: 0.6174 - val_accuracy: 0.6911 - val_loss: 0.6100
Epoch 8/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.6864 - loss: 0.6129 - val_accuracy: 0.6911 - val_loss: 0.6058
Epoch 9/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.6864 - loss: 0.6087 - val_accuracy: 0.6911 - val_loss: 0.6026
Epoch 10/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step - accuracy: 0.6864 - loss: 0.6051 - val_accuracy: 0.6911 - val_loss: 0.5995
Epoch 11/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.6884 - loss: 0.6017 - val_accuracy: 0.6911 - val_loss: 0.5967
Epoch 12/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.6884 - loss: 0.5981 - val_accuracy: 0.6911 - val_loss: 0.5939
Epoch 13/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.6904 - loss: 0.5940 - val_accuracy: 0.6911 - val_loss: 0.5905
Epoch 14/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.6986 - loss: 0.5881 - val_accuracy: 0.6911 - val_loss: 0.5865
Epoch 15/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7169 - loss: 0.5811 - val_accuracy: 0.6911 - val_loss: 0.5822
Epoch 16/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7251 - loss: 0.5745 - val_accuracy: 0.6911 - val_loss: 0.5769
Epoch 17/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7271 - loss: 0.5680 - val_accuracy: 0.7073 - val_loss: 0.5695
Epoch 18/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7312 - loss: 0.5621 - val_accuracy: 0.7561 - val_loss: 0.5613
Epoch 19/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7393 - loss: 0.5554 - val_accuracy: 0.7561 - val_loss: 0.5551
Epoch 20/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step - accuracy: 0.7413 - loss: 0.5490 - val_accuracy: 0.7561 - val_loss: 0.5483
Epoch 21/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7454 - loss: 0.5426 - val_accuracy: 0.7561 - val_loss: 0.5407
Epoch 22/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.7536 - loss: 0.5362 - val_accuracy: 0.7561 - val_loss: 0.5336
Epoch 23/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7576 - loss: 0.5301 - val_accuracy: 0.7642 - val_loss: 0.5257
Epoch 24/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7658 - loss: 0.5230 - val_accuracy: 0.7642 - val_loss: 0.5196
Epoch 25/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7678 - loss: 0.5176 - val_accuracy: 0.7724 - val_loss: 0.5119
Epoch 26/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7862 - loss: 0.5116 - val_accuracy: 0.7967 - val_loss: 0.5052
Epoch 27/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7862 - loss: 0.5065 - val_accuracy: 0.8049 - val_loss: 0.4990
Epoch 28/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7923 - loss: 0.5007 - val_accuracy: 0.8130 - val_loss: 0.4940
Epoch 29/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7882 - loss: 0.4964 - val_accuracy: 0.8130 - val_loss: 0.4882
Epoch 30/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.7923 - loss: 0.4925 - val_accuracy: 0.8130 - val_loss: 0.4835
Epoch 31/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.7984 - loss: 0.4871 - val_accuracy: 0.8130 - val_loss: 0.4794
Epoch 32/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8024 - loss: 0.4834 - val_accuracy: 0.8130 - val_loss: 0.4757
Epoch 33/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8045 - loss: 0.4806 - val_accuracy: 0.8130 - val_loss: 0.4730
Epoch 34/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8045 - loss: 0.4788 - val_accuracy: 0.8130 - val_loss: 0.4699
Epoch 35/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8045 - loss: 0.4760 - val_accuracy: 0.8130 - val_loss: 0.4680
Epoch 36/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.8065 - loss: 0.4743 - val_accuracy: 0.8130 - val_loss: 0.4664
Epoch 37/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8065 - loss: 0.4727 - val_accuracy: 0.8130 - val_loss: 0.4651
Epoch 38/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8086 - loss: 0.4718 - val_accuracy: 0.8130 - val_loss: 0.4632
Epoch 39/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8086 - loss: 0.4706 - val_accuracy: 0.8130 - val_loss: 0.4622
Epoch 40/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8045 - loss: 0.4708 - val_accuracy: 0.8130 - val_loss: 0.4606
Epoch 41/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 5ms/step - accuracy: 0.8086 - loss: 0.4707 - val_accuracy: 0.8130 - val_loss: 0.4604
Epoch 42/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8086 - loss: 0.4671 - val_accuracy: 0.8211 - val_loss: 0.4583
Epoch 43/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8045 - loss: 0.4668 - val_accuracy: 0.8130 - val_loss: 0.4582
Epoch 44/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8126 - loss: 0.4666 - val_accuracy: 0.8130 - val_loss: 0.4577
Epoch 45/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8086 - loss: 0.4662 - val_accuracy: 0.8130 - val_loss: 0.4567
Epoch 46/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8024 - loss: 0.4662 - val_accuracy: 0.8211 - val_loss: 0.4563
Epoch 47/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8126 - loss: 0.4649 - val_accuracy: 0.8130 - val_loss: 0.4560
Epoch 48/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8126 - loss: 0.4647 - val_accuracy: 0.8130 - val_loss: 0.4557
Epoch 49/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - accuracy: 0.8126 - loss: 0.4640 - val_accuracy: 0.8130 - val_loss: 0.4552
Epoch 50/50
16/16 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.8086 - loss: 0.4641 - val_accuracy: 0.8130 - val_loss: 0.4555

##### 6.Evaluating model performance on validation set

In [50]:
# getting prediction fro the validation set

prediction = np.where(model.predict(X_test) < 0.5, 0, 1)

4/4 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 33ms/step

In [51]:
# calculating the accuracy on validation set

accuracy_score(y_test, prediction)

0.8130081300813008